body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #000;
}

canvas {
    border: 1px solid #fff;
}

#scoreBoard {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

#restartButton {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
}